
.bannerDiv {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}

.bannerDiv > img {
    width: 100%;
    border-radius: 25px;
    mix-blend-mode: darken;
    display: block;
}

.bannerHome h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section {
    position: relative;
    text-align: center;
    color: white;
  }
  
@media (max-width: 480px) {

    .bannerDiv > img {
        border-radius: 20px;
        height: 111px;
    }
    
   

    .mobileBanner > .bannerDiv > img {
        height: 100%;
        object-fit: fill;
    }
   

    .bannerHome h1 {
        font-size: 29px;
        width: 262px;
        text-align: left;
        position: absolute;
        left: 45%;
        TOP: 35px;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    .bannerDiv > img {
        border-radius: 20px;
        height: 130px;
    }
    .bannerHome h1 {
        font-size: 29px;
        width: 280px;
        position: absolute;
        top: 35%;
    }
}
