
.slideStyles{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-size: cover;
    background-position: center;
}
  
.rightArrowStyles{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 32px;
    font-size: 45px;
    color: white;
    z-index: 1;
    cursor: pointer;
}
  
.leftArrowStyles {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 32px;
    font-size: 45px;
    color: white;
    z-index: 1;
    cursor: pointer;
}
  
.sliderStyles {
    position: relative;
    height: 100%;
}

.counterStyles {
  position: absolute;
  bottom: 0%;
  left: 50%;
  color: white;
}

@media (max-width: 480px) {

    .sliderStyles img {
        height: 20px;        
    }
    
    .rightArrowStyles{        
        right: 10px;        
    }
    
    .leftArrowStyles {
        left: 10px;
    }
    .counterStyles {
        display: none;
      }
}