.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 63px;
}

.navigation ul{
    display: flex;
    list-style: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    gap: 57px;
}

.navigation a{
    text-decoration: none;
    color: #FF6060;
}

.navigation a.nav-active {
    text-decoration: underline;
}

@media (max-width: 480px) {

    .logo > img{
        height: 47px;
    }

    .navigation {
        width: 60%;
    }

    .navigation ul {
        padding: 0;
        justify-content: space-around;
        gap: 0px;
    }

    .navigation a {
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }
}

@media (max-width: 768px) {
    
    .header {
        margin-bottom: 15px;
    }

    .navigation ul {
        gap: 7vw;
    }

    .logo > img{
        height: 10vw;
    }
}

@media (max-width: 992px) {}

