
.tag {
    border-radius: 10px;
    background-color: #FF6060;
    padding: 4.5px 20px;
    margin-right: 10px;
    font-size: 14px;
    min-width: 68px;
    text-align: center;
}
.tagText {
    color: white;
    margin: 0;
}

@media (max-width: 480px) {
    
    .tag {
        display: flex;
        align-items: center;
        min-width: auto;
        border-radius: 5px;
        padding: 4.5px 19px;
    }
}
@media (max-width: 768px) {
    
    .tag {
        display: flex;
        align-items: center;
        min-width: auto;
        border-radius: 5px;
        padding: 4.5px 19px;
    }
    .tagText{
        font-size: 2vw ;
    }
}